// Advantages.

.advantages__list,
.advantages__inside-list {
  list-style: none;
}

.advantages__list {
  .indent-0();
  background-color: @advantages-bg-grey;
  counter-reset: advantages;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 168px;
  padding: 1px 20px 0 20px;

  @media (min-width: @tablet-width) {
    .indent-0();
    justify-content: flex-start;
    width: 33.3333%;
    min-height: 256px;
  }

  &:not(:last-child) {
    .advantages__content--grey {
      @media (max-width: @mobile-width-only) {
        border-bottom: 1px solid @border-grey;
      }
    }
  }

  &:last-child {
    @media (max-width: @mobile-width-only) {
      padding-bottom: 1px;
    }
  }

  &--illustrated {
    .indent-0();
    color: @white;
    background-color: @light-blue;

    @media (min-width: @tablet-width) {
      width: 100%;
      flex-direction: row;
    }
  }

  &:not(.advantages__item--illustrated) {
    text-align: center;
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 190px;
  padding: 35px 20px 40px 20px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 33.3333%;
    min-height: 256px;
    padding-top: 20px;
  }

  &--right {
    padding-top: 25px;
    padding-bottom: 35px;

    @media (min-width: @tablet-width) {
      order: 2;
    }

    .advantages__desc {
      @media (min-width: @desktop-width) {
        width: 230px;
      }
    }
  }

  &--grey {
    .side-padding(0; 0);
    .side-margin(0; 0);
    width: 280px;
    min-height: 168px;
    padding-top: 10px;
    padding-bottom: 27px;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
      .side-padding(15px; 15px);
      width: 100%;
    }

    .advantages__name {
      @media (min-width: @tablet-width) {
        width: 155px;
      }
    }

    .advantages__desc {
      @media (min-width: @tablet-width) {
        .side-margin(0; 0);
        margin-top: 24px;
        width: 180px;
      }

      @media (min-width: @desktop-width) {
        width: 300px;
      }
    }
  }
}

.advantages__content::before {
  content: "- №"counter(advantages) " -";
  counter-increment: advantages;
  order: 2;
}

.advantages__name {
  .font(18px; 26px);
  order: 1;
  margin: 13px 0 11px 0;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
  }
}

.advantages__desc {
  .font(14px; 21px);
  order: 3;
  margin: 17px 0 0 0;

  @media (min-width: @tablet-width) {
    .side-margin(auto; auto);
    width: 192px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
  }
}

.advantages__illustration-box {
  .size(100%; 260px);
  text-align: center;
  background-color: @light-brown;
  background-repeat: no-repeat;
  background-size: 520px;
  background-position: center;

  @media (min-width: @tablet-width) {
    .size(66.6666%; 256px);
    background-color: transparent;
    background-size: 512px;
    align-self: stretch;
  }

  @media (min-width: @desktop-width) {
    background-size: 800px;
  }
}

.advantages__illustration {
  .size(100%; 260px);
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 256px;
  }
}

.advantages__inside-list {
  .side-padding(0; 0);
  .font(18px; 26px);
  width: 100%;
  padding-top: 21px;
  padding-bottom: 7px;
  color: @black;
  background-color: @white;
  text-align: left;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    text-align: center;
  }

  .advantages__desc {
    @media (min-width: @tablet-width) {
      margin-top: 7px;
    }

    @media (min-width: @desktop-width) {
      width: 290px;
    }
  }

  li {
    .mobile-fix-width;
    padding-left: 70px;
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.3333%;
      min-height: 330px;
      padding: 20px;
      margin: 0;
      box-sizing: border-box;
    }

    &:nth-child(2) {
      @media (min-width: @tablet-width) {
        order: 3;
      }
    }

    &:nth-child(3) {
      @media (min-width: @tablet-width) {
        order: 2;
      }
    }
  }

  .advantages__name {
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      margin-top: 138px;
    }
  }
}
