// Booking.

.booking {
  .side-padding(20px; 20px);
  border-top: 1px solid @white;
}

.booking__text {
  text-align: center;

  &--marked {
    .font(21px; 26px);
    text-align: center;
    font-weight: bold;
    font-style: normal;

    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }
}

.booking__link {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    .side-margin(auto; auto);
    width: 458px;
  }
}
