// Feedback form.

.feedback {
  @media (min-width: @tablet-width) {
    .side-padding(60px, 60px);
  }

  @media (min-width: @desktop-width) {
    .side-padding(120px, 120px);
  }
}

.feedback__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
  }
}

.feedback__section {
  .side-margin(0; 0);
  position: relative;
  padding: 20px 0 24px 0;
  border: none;
  border-top: 1px solid @light-grey;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    border: none;
  }

  &--personal {
    @media (min-width: @tablet-width) {
      order: 2;
      width: 50%;
      padding-left: 58px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 80px;
    }

    &::before {
      @media (min-width: @tablet-width) {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        display: block;
        width: 1px;
        height: 292px;
        background-color: @form-border;
      }
    }
  }

  &--contact-info {
    flex-direction: column;
    padding-bottom: 27px;

    @media (min-width: @tablet-width) {
      order: 3;
      margin-top: 25px;
    }
  }

  &--rating {
    padding-bottom: 26px;

    @media (min-width: @tablet-width) {
      order: 1;
      width: 50%;
    }

    @media (min-width: @desktop-width) {
      padding-left: 5px;
    }
  }

  &--visited {
    padding-top: 15px;

    @media (min-width: @tablet-width) {
      order: 4;
      padding-top: 25px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 20px;
    }
  }

  &--desc {
    @media (min-width: @tablet-width) {
      order: 5;
      padding-top: 45px;
      padding-bottom: 30px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 20px;
    }
  }
}

.feedback__section-inner {
  @media (max-width: @mobile-width-only) {
    .mobile-fix-width();
  }

  &--contact-info {
    @media (min-width: @desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--visited {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: @desktop-width) {
      justify-content: space-between;
    }
  }
}

.feedback__section-name-wrapper {
  @media (min-width: @tablet-width) {
    .side-padding(10px; 10px);
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  &::before {
    @media (min-width: @tablet-width) {
      .size(100%; 1px);
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      background-color: @form-border;
    }
  }

  &--contact-info {
    margin-bottom: 3px;

    @media (min-width: @tablet-width) {
      margin-bottom: 5px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      margin-bottom: 71px;
    }
  }

  &--visited {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 12px;
    }
  }

  &--desc {
    margin-bottom: 15px;

    @media (min-width: @tablet-width) {
      margin-bottom: 56px;
    }
  }
}

.feedback__section-name {
  .font(18px; 26px);
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  &--contact-info,
  &--visited,
  &--desc {
    @media (min-width: @tablet-width) {
      .side-margin(auto; auto);
      position: relative;
      display: block;
      width: 400px;
      background-color: @white;
    }
  }

  &--personal {
    @media (min-width: @tablet-width) {
      margin-bottom: 54px;
      text-align: left;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 57px;
    }
  }

  &--rating {
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
      text-align: left;
      margin-bottom: 56px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 75px;
    }
  }
}

.feedback__field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  &--tel,
  &--email {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      display: block;
      width: 58px;
      height: 58px;
      background-color: @contacts-field-icons;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      align-items: center;
      width: 50%;
    }
  }

  &--tel {
    &::before {
      background-image: url("../img/svg/phone.svg");
      background-size: 18px 18px;

      @media (min-width: @desktop-width) {
        right: 79px;
      }
    }
  }

  &--email {
    &::before {
      background-image: url("../img/svg/mail.svg");
      background-size: 16px 12px;
    }
  }

  &--visited {
    @media (min-width: @tablet-width) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 74%;
      margin-left: 23px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      justify-content: flex-start;
      margin-left: 0;
      padding-bottom: 28px;
    }
  }
}

.feedback__label {
  position: relative;
  display: flex;

  &--personal {
    align-items: center;
    margin-top: 20px;
    line-height: 26px;
  }

  &--tel,
  &--email {
    margin: 19px 0 7px 22px;
  }

  &--tel {
    @media (min-width: @tablet-width) {
      margin-bottom: 10px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 17px 0 0;
    }

    span {
      @media (min-width: @desktop-width) {
        display: none;
      }
    }
  }

  &--email {
    @media (min-width: @tablet-width) {
      margin-top: 27px;
      margin-bottom: 8px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 17px 0 0;
    }
  }

  &--rating,
  &--visited {
    .font(18px; 26px);
    align-items: center;
    padding: 5px 0 5px 78px;
    min-height: 56px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: none;
    cursor: pointer;

    &:hover::before {
      background-color: @light-grey;
    }

    &:active::before {
      background-color: @grey;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--rating::before,
  &--visited::before {
    .size(56px; 56px);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: @pale-grey;
  }

  &--rating {
    @media (min-width: @desktop-width) {
      padding-bottom: 0;
      padding-left: 75px;
    }

    &:not(:last-of-type) {
      margin-bottom: 13px;

      @media (min-width: @tablet-width) {
        margin-bottom: 22px;
      }
    }

    &::before {
      border-radius: 50%;
    }

    &::after {
      .size(22px; 22px);
      content: "";
      position: absolute;
      top: 17px;
      left: 17px;
      display: none;
      border-radius: 50%;
      background-color: @ashen;
    }
  }

  &--visited {
    @media (min-width: @tablet-width) {
      width: 46%;
      margin-top: 32px;
    }

    @media (min-width: @desktop-width) {
      width: 210px;
    }

    &:not(:nth-of-type(4n)) {
      @media (max-width: @mobile-width-only) {
        margin-bottom: 24px;
      }

      @media (min-width: @desktop-width) {
        margin-right: 40px;
      }
    }

    &::before {
      border-radius: 5px;
    }

    &::after {
      .size(23px; 16px);
      content: "";
      position: absolute;
      top: 20px;
      left: 17px;
      display: none;
      background-color: transparent;
      background-image: url("../img/svg/tick.svg");
      background-repeat: no-repeat;
    }
  }
}

.feedback__field {
  .font(18px; 26px);
  position: relative;
  height: 58px;
  padding: 13px 20px 14px 22px;
  border: none;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: @black;
  background-color: @pale-grey;

  &::placeholder {
    .font(18px; 26px);
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    color: @black;
  }

  &--personal {
    flex-grow: 1;
    width: 175px;
    margin-left: 13px;
  }

  &--tel,
  &--email {
    width: 100%;

    @media (min-width: @desktop-width) {
      width: 315px;
    }
  }

  &--personal,
  &--tel,
  &--email {
    &:hover {
      background-color: @light-grey;
    }

    &:active,
    &:focus {
      background-color: @white;
      box-shadow: inset 0 0 0 4px @light-grey;
      outline: none;
    }
  }


  &--desc {
    width: 100%;
    min-height: 160px;
    padding: 13px 20px 13px 20px;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      padding-top: 19px;
    }
  }
}

input[type="radio"]:checked + .feedback__label--rating::after,
input[type="checkbox"]:checked + .feedback__label--visited::after {
  display: block;
}

.feedback__send-button-box {
  .side-margin(auto; auto);
  width: 320px;
  padding: 22px 20px 39px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    .side-margin(0; 0);
    .side-padding(0; 0);
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
  }
}

.feedback__send-button {
  .side-margin(auto; auto);
  width: 100%;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .side-margin(0; 0);
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.feedback__note {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
