// Page.

.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.page__body {
  .font(14px; 21px);
  min-height: 100%;
  margin: 0;
  background-color: @pale-grey;
}

.page__inner {
  .side-margin(auto; auto);
  min-width: 320px;
  max-width: @desktop-width;
  background-color: @white;
}
