// Footer.

.page-footer {
  .side-margin(auto; auto);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    .side-padding(0; 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__hashtag-wrapper {
    text-align: center;
  }

  &__hashtag {
    .font(21px; 26px);
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  &__copyright-wrapper {
    padding: 15px 20px 23px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    line-height: 26px;
    margin-right: 12px;
  }

  &__hashtag-wrapper,
  &__copyright-wrapper {
    @media (min-width: @tablet-width) {
      .side-padding(10px; 10px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
