// Footer.

.page-footer {
  .side-margin(auto; auto);
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 320px;
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    .side-padding(0; 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    @media (min-width: @desktop-width) {
      gap: 40px;
    }
  }
}

.page-footer__hashtag-wrapper {
  text-align: center;
}

.page-footer__hashtag {
  .font(21px; 26px);
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}

.page-footer__copyright-wrapper {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.page-footer__copyright {
  line-height: 26px;
  margin: 0 12px 0 0;
}

.page-footer__hashtag-wrapper,
.page-footer__copyright-wrapper {
  @media (min-width: @tablet-width) {
    // .side-padding(10px; 10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__copyright-link {
  .size(27px; 34px);
  display: block;
}
