// Video Player.

.player {
  position: relative;
}

.player__screen {
  width: 100%;
  max-width: 800px;
  height: 63vw;
  background-color: #a2345f;
  // Фон временно. Потом заменю картинкой.

  @media (min-width: @tablet-width) {
    .side-margin(auto; auto);
    height: 500px;
  }
}

.player__control-box {
  .side-margin(auto; auto);
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 280px;
  min-height: 66px;
  padding: 23px;
  box-sizing: border-box;
  outline: 1px dashed green;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    width: 100%;
    max-width: 800px;
    min-height: 93px;
    padding: 10px 41px 10px 35px;
    background-color: rgba(@black, 0.6);
  }
}

.player__scroll-box {
  .size(100%; 45px);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  padding-top: 21px;
  box-sizing: border-box;
  background-color: rgba(@black, 0.6);

  @media (min-width: @tablet-width) {
    position: static;
    order: 2;
    display: block;
    width: 389px;
    height: 50px;
    margin-right: auto;
    padding-top: 23px;
    background-color: transparent;
    outline: 2px dashed blue;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.player__scroll {
  .size(235px; 3px);
  .side-margin(auto; auto);
  position: relative;
  background-color: rgba(@white, 0.2);

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.player__pointer {
  .size(9px; 9px);
  position: absolute;
  top: -3px;
  left: 34px;
  border-radius: 50%;
  background-color: @white;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    left: 113px;
  }
}

.player button {
  height: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  // Временное:
  background-color: @super-grey;
  outline: 1px dashed red;
}

.player__replay {
  width: 16px;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.player__subtitles {
  width: 32px;

  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.player__fullscreen {
  width: 20px;
  margin-left: 31px;

  @media (min-width: @tablet-width) {
    order: 4;
  }
}
