// Socials.

.socials {
  padding: 15px 20px 20px 20px;
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
  .intend-0();
}

.socials__item {
  .side-margin(3px; 3px);
}

.socials__link {
  display: block;
  .size(46px; 48px);
  background-color: @light-blue;
}
