// Socials.

.socials {
  padding: 15px 20px 20px 20px;
}

.socials__list {
  .indent-0();
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}

.socials__item {
  .side-margin(3px; 3px);
}

.socials__link {
  .size(46px; 48px);
  display: block;
  background-color: @light-blue;

  &:hover {
    background-color: @blue;
  }

  &:active {
    background-color: @dark-blue;
  }
}
