// Page Summary.

.summary__header {
  height: 158px;
  background-color: @summary-photo;

  @media (min-width: @tablet-width) {
    height: 290px;

    @media (min-width: @desktop-width) {
      height: 301px;
    }
  }
}

.summary__header--main-page {
  height: 389px;
  background-color: @summary-photo;

  @media (min-width: @tablet-width) {
    height: 518px;
  }
}

.summary__headline,
.summary__text {
  width: 280px;
  .side-margin(auto; auto);
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.summary__headline {
  .font(18px; 26px);

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.summary__text {
  margin-bottom: 33px;
}

.summary__arrow-box {
  width: 100%;
  height: 15px;
  background-color: @blue;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.summary__arrow {
  width: 0;
  height: 0;
  .side-margin(auto; auto);
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 15px solid @white;
}
