// Page Summary.

.summary {
  position: relative;

  &--main-page {
    @media (min-width: @tablet-width) {
      margin-bottom: 37px;

      @media (min-width: @desktop-width) {
        margin-bottom: 25px;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      display: block;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }

    &::before {
      .size(100%; 15px);
      background-color: @blue;
    }

    &::after {
      .size(0; 0);
      .side-margin(auto; auto);
      left: 0;
      right: 0;
      border-left: 160px solid transparent;
      border-right: 160px solid transparent;
      border-top: 15px solid @white;
    }
  }

  &--form-page {
    margin-bottom: 1px;

    @media (min-width: @tablet-width) {
      margin-bottom: 42px;

      @media (min-width: @desktop-width) {
        margin-bottom: 21px;
      }
    }
  }

  &--catalog-page {
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      margin-bottom: 62px;
    }
  }
}

.summary__header {
  min-height: 158px;
  background-color: @background-for-images;

  @media (min-width: @tablet-width) {
    min-height: 290px;

    @media (min-width: @desktop-width) {
      min-height: 301px;
    }
  }

  &--main-page {
    min-height: 390px;

    @media (min-width: @tablet-width) {
      min-height: 518px;
    }
  }
}

.summary__content-box {
  .mobile-fix-width();
  padding-top: 32px;
  padding-bottom: 10px;

  &--main-page {
    @media (max-width: @mobile-width-only) {
      padding-bottom: 27px;
    }

    @media (min-width: @tablet-width) {
      width: 540px;
      padding-top: 43px;

      @media (min-width: @desktop-width) {
        padding-top: 55px;
      }
    }
  }

  &--form-page {
    padding-top: 36px;

    @media (min-width: @tablet-width) {
      width: 475px;
      padding-top: 72px;

      @media (min-width: @desktop-width) {
        padding-top: 113px;
      }
    }
  }

  &--catalog-page {
    @media (min-width: @tablet-width) {
      padding-top: 57px;
      width: 480px;

      @media (min-width: @desktop-width) {
        padding-top: 95px;
      }
    }
  }
}

.summary__headline {
  .side-margin(auto; auto);
  .font(18px; 26px);
  margin-top: 0;
  margin-bottom: 27px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }

  &--main-page {
    margin-bottom: 33px;

    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }
}

.summary__text {
  margin: 0 auto 5px auto;
  text-align: center;
  line-height: 24px;

  &--main-page {
    line-height: 26px;
  }
}
