// Video.

.video {
  border-top: 1px solid @light-grey;
  margin-bottom: 50px;
  padding-top: 32px;
}

.video__intro-wrapper {
  .mobile-fix-width(25px);
}

.video__intro-text {
  .font(14px; 24px);
  text-align: center;
  margin: 0 0 33px 0;

  &--marked {
    .font(18px; 26px);
    font-weight: bold;
  }
}
